body {
  overflow-x: hidden;
}
.link {
  text-decoration: none;
  color: white;
}

.link-active,
.link:hover {
  color: #c89979 !important;
  text-decoration: underline;
}
.rating {
  padding: 0;
  color: #ffa000;
  list-style-type: none;
}

.rating li {
  display: inline-block;
}

.onlyClickOnTop::before {
  pointer-events: all;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
