.alignleft {
    float: left;
}
.alignright {
	float: right;
}
.wrapThanhtoan{
    margin-left: 15%;
    margin-right: 15%;
}   
.cart{
    width: 100%;
    padding: 10px;
}
.wrapinfo{
    width: 60%;
    float: left;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.wrapGioHang{
    margin-left: 10px;
    width: 35%;
    float: left;
    border-style: outset;
}


.commonInfo{
    size: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 200;
}
.boderInfo{
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgb(41, 36, 36);
    border-style: groove;
    border-right-style: none;
    border-left-style: none;
}

ul.giohang {
    list-style: none;
    padding-inline-start: 0px;
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-between; */
}

ul.giohang li{
    /* flex-basis: 100%; */
    /* justify-content: center; */
    padding-bottom: 10px;
}

ul.giohang li img{
    max-width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.imaBox{
    width: 15%;
    float: left;
}

.infoBox{
    width: 70%;
    float: left;
    padding-left: 15px;
}
.nameItem{
    padding: 5px;
    size: 10px;
}
.colorItem{
    padding: 5px;
    size: 7px;
}
/* ul.giohang li .special{
    width: 100%;
    background-color: rgb(197, 185, 185);
} */
.sanPham{
    width: 100%;
    display: block;
    background-color:rgb(150, 16, 16);
}

.special{
    width: 100%;
    display: block;
    background-color:rgb(235, 235, 235);
}
.eachSanpham{
    display:block;
    width: 100%;
}
.form-group {
    margin-top: 20px;
}
input[type=text], 
input[type=password],
input[type=date],
select, textarea {
    box-sizing: border-box;
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px;
    /* padding-left: 10px; */
  }

.label-input{
    padding: 10px;
    text-transform: uppercase;
}
.paymendImg{
    width: 50%;
    height: auto;
    padding: 0;
}

.cal-btn {
    display: block;
    margin: 20px auto 20px auto;        
    background: transparent;
    border: 1px solid teal;
    border-radius: 4px;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: 600;
    align-content: center;
}